<app-table-wrapper [loading]="isLoading">
  <ng-container table-header>
    <tr>
      <th class="py-3 px-6 text-left">Service ID</th>
      <th class="py-3 px-6 text-left">Name</th>
      <th class="py-3 px-6 text-left">Description</th>
      <th class="py-3 px-6 text-left">Price</th>
    </tr>
  </ng-container>
  <ng-container table-body>
    <tr *ngFor="let service of services">
      <td class="py-3 px-6 text-left">{{ service.serviceid }}</td>
      <td class="py-3 px-6 text-left">{{ service.servicename }}</td>
      <td class="py-3 px-6 text-left">{{ service.description }}</td>
      <td class="py-3 px-6 text-left">{{ service.price }}</td>
    </tr>
  </ng-container>
</app-table-wrapper>
