<app-table-wrapper [loading]="isLoading">
  <ng-container table-header>
    <tr>
      <th class="py-3 px-6 text-left">Invoice ID</th>
      <th class="py-3 px-6 text-left">Order ID</th>
      <th class="py-3 px-6 text-left">Client ID</th>
      <th class="py-3 px-6 text-left">Amount</th>
      <th class="py-3 px-6 text-left">Issue date</th>
      <th class="py-3 px-6 text-left">Due Date</th>
      <th class="py-3 px-6 text-left">Status</th>
    </tr>
  </ng-container>
  <ng-container table-body>
    <tr *ngFor="let invoice of invoices">
      <td class="py-3 px-6 text-left">{{ invoice.invoiceid }}</td>
      <td class="py-3 px-6 text-left">{{ invoice.orderid }}</td>
      <td class="py-3 px-6 text-left">{{ invoice.clientid }}</td>
      <td class="py-3 px-6 text-left">{{ invoice.amount }}</td>
      <td class="py-3 px-6 text-left">{{ invoice.issuedate ? (invoice.issuedate | date) : '-' }}</td>
      <td class="py-3 px-6 text-left">{{ invoice.duedate ? (invoice.duedate | date) : '-' }}</td>
      <td class="py-3 px-6 text-left">{{ invoice.status }}</td>
    </tr>
  </ng-container>
</app-table-wrapper>
