<app-table-wrapper [loading]="isLoading">
	<ng-container table-header>
		<tr>
			<th class="py-3 px-6 text-left">User ID</th>
			<th class="py-3 px-6 text-left">Username</th>
			<th class="py-3 px-6 text-left">Email</th>
			<th class="py-3 px-6 text-left">Phone Number</th>
			<th class="py-3 px-6 text-left">Role</th>
		</tr>
	</ng-container>
	<ng-container table-body>
		<tr *ngFor="let user of users">
			<td class="py-3 px-6 text-left">{{ user.userid }}</td>
			<td class="py-3 px-6 text-left">{{ user.username }}</td>
			<td class="py-3 px-6 text-left">{{ user.email }}</td>
			<td class="py-3 px-6 text-left">{{ user.phonenumber }}</td>
			<td class="py-3 px-6 text-left">{{ user.role }}</td>
		</tr>
	</ng-container>
</app-table-wrapper>
