<button (click)="openAddModal()" class="bg-transparent hover:bg-gray-300 text-gray-800 font-semibold py-2 px-4 border border-black rounded-2xl shadow-md w-full mb-5 h-12">
  Add service
</button>

<app-table-wrapper [loading]="isLoading">
  <ng-container table-header>
    <tr>
      <th class="py-3 px-6 text-left">Status</th>
      <th class="py-3 px-6 text-left">Total Cost</th>
      <th class="py-3 px-6 text-left">services</th>
      <th class="py-3 px-6 text-left">Created Date</th>
      <th class="py-3 px-6 text-left">Completed Date</th>
      <th class="py-3 px-6 text-left">Actions</th>
    </tr>
  </ng-container>
  <ng-container table-body>
    <tr *ngFor="let order of serviceOrders">
      <td class="py-3 px-6 text-left">{{ order.status }}</td>
      <td class="py-3 px-6 text-left">{{ order.totalcost }}</td>
      <td class="py-3 px-6 text-left">{{ getServicesNameFromDetailsToString(order) ?? '' }}</td>
      <td class="py-3 px-6 text-left">{{ order.createddate ? (order.createddate | date) : '-' }}</td>
      <td class="py-3 px-6 text-left">{{ order.completeddate ? (order.completeddate | date) : '-' }}</td>
      <td class="py-3 px-6 text-left">
        <svg (click)="getServiceOrderInvoice(order)" class="w-[20px] h-[20px] text-gray-800 cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M9 7V2.221a2 2 0 0 0-.5.365L4.586 6.5a2 2 0 0 0-.365.5H9Zm2 0V2h7a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V9h5a2 2 0 0 0 2-2Zm2-2a1 1 0 1 0 0 2h3a1 1 0 1 0 0-2h-3Zm0 3a1 1 0 1 0 0 2h3a1 1 0 1 0 0-2h-3Zm-6 4a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1v-6Zm8 1v1h-2v-1h2Zm0 3h-2v1h2v-1Zm-4-3v1H9v-1h2Zm0 3H9v1h2v-1Z" clip-rule="evenodd"/>
        </svg>

      </td>
    </tr>
  </ng-container>
</app-table-wrapper>

<app-client-add-service-order-modal *ngIf="showAddModal" (closeModal)="closeAddModal($event)"></app-client-add-service-order-modal>
